body {
	padding: 0;
	margin: 0;
	overflow: auto;
}

ul, ol {
	list-style: none;
}

#navigation {
position: fixed;
top: 0;
width: 100%;
height: 100%;
color: #ffffff;
height: 35px;
text-align: center;
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);
}


#navigation a:hover {
color: grey;
} 

#navigation ul {
  font-family: Arial, Verdana;
  font-size: 14px;
  margin: 0;
  padding : 0px;
  list-style: none;
  height:100%;
}
ul li {
  display: block;
  position: relative;
  float: left;
  width: 150px;
  height: 100%;
}

.right-align {
	float:right;
}

#navigation li ul { display: none; }
#navigation ul li a {
  display: block;
  padding-top: 10px;
  height: 26px;
  text-decoration: none;
  font-size: 14px;
  padding-left: 15px; 
  padding-right: 15px;
  color: white;
}


#navigation ul li a:hover { background: rgba(1, 1, 1, 0.8); }


#navigation li:hover ul {
  display: block;
  position: absolute;
}


#navigation li:hover li {
  float: none;
  font-size: 11px;
}


#navigation li:hover a { background: rgba(1, 1, 1, 0.8); }
#navigation li:hover li a:hover { background: rgba(1, 1, 1,1.0); }

#search_bar {
	height: auto;
	margin-top: 5px;
}

/*     Content part    */

#Content {
	width: 80%;
	height: 100%;
	margin: 60px auto;
}

#Title{
	margin-left: 100px;
	font-family:arial;
}

#Stock_Image {
	text-align: center;
}

#Stock_Image img {
	width: 800px;
	height: 500px;
}

/*       Tags!     */

#Tags {
	margin-left: 100px;
}

#Tags h3 {
	font-family:arial;
}

#Tags > ul{
	margin-left: 100px;
	list-style: none;
	margin: 0;
	padding: 0;
}



#Tags > ul > li {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	margin: 5px;
}